<html>
<body bgcolor="orange">
<p><h1><center><span style="color:blue">Welcome to purchase,enjoy your day</span></center></h1></p>
<marquee direction="left"><h2><span style="color:maroon"><i>The branches of the Showrooms are in Chennai,Trichy,Madurai,Coimbature,Pondicherry</i></span></h2></marquee>
<marquee direction="up"><h2><span style="color:navy"><i>!!!!!!Purchase fast!!!!!!!</i></span></h2></marquee>
<p><center> <a href="/summit">click</a></center></p>
<center><img class="purchase" src="/python program/flsimg.jpg" alt="flsimg" style="width:304px;height:228px;"/></center>
</body>
<html>