<!doctype html>
<html>
   <body>
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Employee Information</h3>
         Name<br>
         <input type = "text" name = "nm" /></br>
         
         Address<br>
         <textarea name = "addr" ></textarea><br>
         
         PINCODE<br>
         <input type = "text" name = "pin" /><br>
         
         Mobile<br>
         <input type = "text" name = "mob" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>
   </body>
</html>