<link rel="stylesheet" href="/static/style.css" type="text/css">
 <html>
   <body>
      
      <form action="/register" method="post">
         <p>login registration</p>
         <p><input type = "text" placeholder="username" name = "name" required/></p>
		 <p><input type = "text" placeholder="passward" name = "passward" required /></p>
		 
         <p><input type = "submit" value = "submit" /></p>
		 
      </form>
	  <form action="/hello1" method="post">
	  
	  <p><input type = "submit" value = "view" /></p>
	  </form>
	  
      
   </body>
</html>
